@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
 }
 .navbar {
    height: 80px;
    background-color: rgb(0, 29, 0);
    padding: 2px 30px;
      display: flex;
    justify-content: center;
    flex-wrap: wrap;
  align-items: center;
  align-content: center;  
 }
.menu-links  a  {
    font-weight: 700;
    color: #999999;
    padding: 8px 16px;
    text-decoration: none;
}
.menu-links a:hover {
    color: red;
}
.header-1 {
    text-align: center;
    color: red;
    display: block;
}
.header-2 {
    text-align: center;
    color: red;
}
.logo {
    display: inline-block;
    width: 15%;
    height: 20%;
 position: absolute;
bottom: 80%; 
}
p{
    color: rgb(31, 232, 71);
    text-align: center;
    font-size: x-large;
    font-family: 'Caveat', cursive;
}
details{
    color: rgb(31, 232, 71);
    text-align: center;
    font-size: x-large;
    font-family: 'Caveat', cursive;
}
summary {
    color: red;  
}
