@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
html { 
    background: url(./image/skull-skull-skeleton-motorcycle-biker-gang-mens-t-shirt.jpg) no-repeat center center fixed; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: black;
  } 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
 width: 100vw;
 height: 4vh;
 background-color: rgb(0, 29, 0);
 position: sticky;
 top: 0;
 z-index: 2;

}
nav{
    width: 100vw;
 height: 9vh; 
 background-color: rgb(0, 29, 0);
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 0.5rem;
 /* flex-wrap: wrap; */
 position: sticky;
 top: 0;
}
nav a{
    font-weight: 700;
    color: #999999;
    padding: 8px 16px;
    text-decoration: none;
}
nav a:hover{
    color: rgb(138, 43, 226);
    padding-top: 1rem;
}
.header-1 {
    text-align: center;
    display: block;
    font-family: 'Single Day', cursive;
    font-size: xxx-large;
    -webkit-text-stroke: 1px red;
}
.sec1{
    width: 100vw;
    height: 60vh;
    background-color: transparent;
    backdrop-filter: blur(5px);
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
.child1 {
    width: 20vw;
    height: 50vh;
    background-color: #fff;
}
.child2 {
    width:20vw;
    height: 50vh;
    background-color: #fff;
}
.child3 {
    width: 20vw;
    height: 50vh;
    background-color: #fff;
}
.child4 {
    width: 20vw;
    height: 50vh;
    background-color: #fff;
}
.child5 {
    width: 20vw;
    height: 50vh;
    background-color: #fff;
    align-self: flex-end;

}
.child6 {
    width: 20vw;
    height: 50vh;
    background-color: #fff;
}
.child7 {
    width: 20vw;
    height: 50vh;
    background-color: #fff;
}

    ul{
     margin-top: 15vh;
    margin-left: 35vw;
    width: 30vw;
    height: 25vh;
    color: rgb(31, 232, 71);
    border-color: blue;
    border-style: solid;
}

details{
    color: rgb(31, 232, 71);
    margin-top: 5em;
    text-align: center;
    font-size: x-large;
    font-family: 'Caveat', cursive;
}
summary {
    color: red;  
}
